.title{
    margin-bottom: 20px;
}
.Questions{
    display: flex;
    margin-top:20px;
}
.questionTitle{
    margin-top:10px;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top:20px;
}
.questionHeader{
    margin: 0px 0px 0px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-weight:500;
}
.characteristics{
    font-size: 25px;
    margin:7px;
}

@media (max-width:420px){
    .characteristics{
        font-size: 20px;
        margin:13px 0px 13px 0px;
    }
}
