.box{
    width:55%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
}
.questionContainer{
    margin:0 auto;
}
.description{
    font-size: 1rem;
    width:50%;
    text-align: center;
}

@media (max-width:420px){
    .box{
        width:90%;
    }
    .description{
        width:90%;
    }
}