
.outerContainer{
    height:100vh;
    width:80%;
    margin:0 auto;
    padding:25px 50px 25px 50px;
}
.resultsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.graphs{
    display: flex;
    justify-content: center;
    width: 100%;
}
.score{
    text-align: center;
    width: 50%;
}
.header{
    margin: 0px 0px 0px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-size: 300;
}
.scoreResult{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin:0;
}
/* Mobile view */
@media (max-width:420px){
    .graphs{
        flex-direction: column;
        align-items: center;
    }
    .outerContainer{
        width:100%;
        padding:0;
        height:auto;
    }
    .resultsContainer{
        width:100%;
    }
    .score{
        width:97%;
        font-size: 50px;
        margin-bottom:10px;
    }
}
/* Mobile view - landscape */
@media (min-width:420px) and (max-width:850px){
    .graphs{
        flex-direction: column;
        align-items: center;
    }
    .outerContainer{
        height:auto;
    }
    .resultsContainer{
        width:100%;
    }
    .score{
        width:97%;
        font-size: 50px;
        margin-bottom:10px;
    }
}
/* Tablet view */
@media (min-width:851px) and (max-width:1024px){
    .graphs{
        flex-direction: column;
        align-items: center;
    }
    .score{
        width:70%;
        font-size: 50px;
        margin-bottom:10px;
    }
    .outerContainer{
        height:auto;
    }
}
